paper-button {
  margin: 10px 0px;
  margin-right: 10px;
  background-color: #ffffff;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  overflow: auto;
}

.content{
  margin: 20px 0;
}

#tweetButton{
  border: 0;
  width:150px;
  height: 150px;
  float: right;
  margin-top: 50px;
}

#shuffleDate{
  padding: 0 0 10px 0;
}

#resultDialog{
  padding: 5px 0;
}

#resultDialog::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

#presetDialog::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

#savedList::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

.jankenImage{
  width: 30px;
}

#resetButton{
  margin-right: 10px;
}

#shuffleButton{
  background: #2196F3;
}

#chooseoneButton{
  background: #2196F3;
}

#jankenButton{
  background: #2196F3;
  margin-right: 10px;
}

#resultButton{
  background: #FFEB3B;
}

#setButton{
  background: #4CAF50;
}

#saveButton{
  background: #4CAF50;
}

#listButton{
  background: #4CAF50;
}

.menuButton{
  margin-top: 60px;
}

#templageButtons{
  margin: 10px 0;
  text-align: center;
}

.inputForm{
  width: 100%;
}
