paper-button {
  margin: 10px 0px;
  margin-right: 10px;
  background-color: #ffffff;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  background-color:#eaeaea;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  overflow: auto;
}

core-toolbar {
    background-color: #9e9e9e;
    color:            #ffffff;
}
.content{
  margin: 20px 0;
}

.card {
  background:    white;
  box-sizing:    border-box;
  width:         70%;
  height:        70%;
  margin:        0 auto;
  padding:       18px;
  border-radius: 2px;
}

#tweetButton{
  border: 0;
  width:150px;
  height: 150px;
  float: right;
  margin-top: 50px;
}

#shuffleDate{
  padding: 0 0 10px 0;
}

#resultDialog{
  padding: 5px 0;
}

#resultDialog::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

#presetDialog::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

#savedList::shadow #scroller {
  width: 100%;
  max-height: 100px;
}

.jankenImage{
  width: 30px;
}

#resetButton{
  margin-right: 10px;
}

#shuffleButton{
  /* background: #2196F3; */
}

#chooseoneButton{
  /* background: #2196F3; */
}

#jankenButton{
  /* background: #2196F3; */
  margin-right: 10px;
}

#resultButton{
  background: #FFEB3B;
}

#setButton{
  background: #FFC107;
}

#saveButton{
  background: #FFC107;
}

#listButton{
  background: #FFC107;
}

.menuButton{
  margin-top: 60px;
}

#templageButtons{
  margin: 10px 0;
  text-align: center;
}

.inputForm{
  width: 100%;
}
