paper-button {
  margin: 10px 0px;
  margin-right: 10px;
  background-color: #ffffff;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  overflow: auto;
}

section {
  padding: 20px 0;
}

section > div {
  padding: 14px;
  font-size: 16px;
}

paper-button.colored {
  color: #4285f4;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

paper-button.custom > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: #eee;
}

paper-button.blue-ripple::shadow #ripple {
  color: #4285f4;
}

#tweetButton{
  border: 0;
  width:150px;
  height: 150px;
  float: right;
  margin-top: 50px;
}

#shuffleDate{
  padding: 0 0 10px 0;
}

#resultDialog{
  padding: 5px 0;
}

.jankenImage{
  width: 30px;
}

#resetButton{
  margin-right: 10px;
}

#jankenButton{
  margin-right: 10px;
}

.menuButton{
  margin-top: 10px;
}